<% layout("/layouts/boilerplate") -%>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
<%for(Listing of AllListings){%>
    <a href="/listing/<%= Listing._id%>" class="listing-link">
        <div class="card col listing-card" style="width: 20rem;">
        <img src="<%= Listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
            <p class="card-text">
                <b><%= Listing.title%></b><br>
                <b><%= Listing.price.toLocaleString('en-IN', {
                                                style: 'currency',
                                                currency: 'INR'
                                            })%> / night &nbsp;&nbsp;&nbsp;<i class="tax-info">+18 GST</i> </b>
            </p>
        </div>
        </div>
    </a>
<%}%>
</div>